# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

simlib-3\.07-20181019/simlib/examples/ball

simlib-3\.07-20181019/simlib/examples/ball2

simlib-3\.07-20181019/simlib/examples/bessel

simlib-3\.07-20181019/simlib/examples/ctest

simlib-3\.07-20181019/simlib/examples/heating

simlib-3\.07-20181019/simlib/examples/lorenz

simlib-3\.07-20181019/simlib/examples/model2

simlib-3\.07-20181019/simlib/examples/model2-timeout

simlib-3\.07-20181019/simlib/examples/model3

simlib-3\.07-20181019/simlib/examples/model4

simlib-3\.07-20181019/simlib/examples/model5

simlib-3\.07-20181019/simlib/examples/multiexp

simlib-3\.07-20181019/simlib/examples/network

simlib-3\.07-20181019/simlib/examples/pbx

simlib-3\.07-20181019/simlib/examples/procesor

simlib-3\.07-20181019/simlib/examples/rc

simlib-3\.07-20181019/simlib/examples/rlc

simlib-3\.07-20181019/simlib/examples/test3D

simlib-3\.07-20181019/simlib/examples/wheel

simlib-3\.07-20181019/simlib/examples/wheel2

simlib-3\.07-20181019/simlib/src/simlib\.nm

simlib-3\.07-20181019/simlib/src/TEST-BY\.txt

simlib-3\.07-20181019/simlib/tests/3d-test

simlib-3\.07-20181019/simlib/tests/barrier-test1

simlib-3\.07-20181019/simlib/tests/barrier-test2

simlib-3\.07-20181019/simlib/tests/delay-test

simlib-3\.07-20181019/simlib/tests/delay-test2

simlib-3\.07-20181019/simlib/tests/process-test

simlib-3\.07-20181019/simlib/tests/random-test

simlib-3\.07-20181019/simlib/tests/sizeof-all

simlib-3\.07-20181019/simlib/tests/test-calendar

simlib-3\.07-20181019/simlib/tests/test-reactivate

simlib-3\.07-20181019/simlib/tests/test1

simlib-3\.07-20181019/simlib/tests/test2

simlib-3\.07-20181019/simlib/tests/test3

simlib-3\.07-20181019/simlib/tests/test4

simlib-3\.07-20181019/simlib/tests/test5

simlib-3\.07-20181019/simlib/tests/waituntil-test

simlib-3\.07-20181019/simlib/tests/zdelay-test
